/*
 * at91sam9g25ek.dts - Device Tree file for AT91SAM9G25-EK board
 *
 *  Copyright (C) 2012 Atmel,
 *                2012 Nicolas Ferre <nicolas.ferre@atmel.com>
 *
 * Licensed under GPLv2 or later.
 */
/dts-v1/;
#include "at91sam9g25.dtsi"

/ {
	model = "Beecon BLIXTEN";
	compatible = "atmel,at91sam9g25ek", "atmel,at91sam9x5ek", "atmel,at91sam9x5", "atmel,at91sam9";

	chosen {
		bootargs = "root=/dev/mtdblock1 rw rootfstype=ubifs ubi.mtd=1 root=ubi0:rootfs";
		stdout-path = "serial0:115200n8";
	};


	memory {
		reg = <0x20000000 0x8000000>;
	};


	clocks {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		main_clock: clock@0 {
			compatible = "atmel,osc", "fixed-clock";
			clock-frequency = <12000000>;
		};
	};

	clocks {
		slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal {
			clock-frequency = <12000000>;
		};
	};

	ahb {
		apb {
			pinctrl@fffff400 {
			};

			spi1: spi@f0004000 {
				status = "okay";
				cs-gpios = <&pioA 30 0>;
				cc2520@0x00 {
					compatible = "ti,cc2520";
					spi-max-frequency = <6000000>;
					reg = <0>;
					fifo-gpio = <&pioA 0 0>;
					fifop-gpio = <&pioA 20 0>;
					sfd-gpio = <&pioA 29 0>;
					cca-gpio = <&pioA 1 0>;
					reset-gpio = <&pioA 2 0>;
				};
			};

                        macb0: ethernet@f802c000 {
                                pinctrl-0 = <&pinctrl_macb0_rmii &pinctrl_macb0_rmii_mii>;
                                phy-mode = "mii";
                                status = "okay";
                        };
			rtc@fffffeb0 {
				status = "okay";
			};

			dbgu: serial@fffff200 {
				status = "okay";
			};


		};
		nand0: nand@40000000 {
			nand-bus-width = <8>;
			nand-ecc-mode = "hw";
			atmel,has-pmecc;	/* Enable PMECC */
			atmel,pmecc-cap = <2>;
			atmel,pmecc-sector-size = <512>;
			nand-on-flash-bbt;
			status = "okay";

			at91bootstrap@0 {
				label = "at91bootstrap";
				reg = <0x0 0x40000>;
			};

			uboot@40000 {
				label = "u-boot";
				reg = <0x40000 0x80000>;
			};

			ubootenv@c0000 {
				label = "U-Boot Env";
				reg = <0xc0000 0x140000>;
			};

			kernel@200000 {
				label = "kernel";
				reg = <0x200000 0x600000>;
			};

			rootfs@800000 {
				label = "rootfs";
				reg = <0x800000 0x1f800000>;
			};
		};

	};

};


